{% extends 'main_school/main_menu.html' %}

{%block title%}Teacher{% endblock %}


{% block content%}
    <div class="features">
        <h1 class="title_1">{{ article.title }}</h1>
        <p class="date_public_1">{{ article.date_public }}</p>
        <div class="conteiner_content">

            <div class="div_for_text">
    
                <p class="text_news_1">{{ article.text_news }}</p>
            </div>
            
            <div class="div_for_image">
                <a href="#">
                    <img src="{{ article.picture.url }}" alt="news" class="image_in_deteil">
                </a>

                    {% for el in gallery %}
                    <a href="#">
                        <img src="{{ el.image.url }}" alt="gallery" class="gallery">

                    </a>
                    {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}